.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .cd-section--bg-fixed {
    min-height: 100vh;
    background-attachment: fixed;
  }
  
  /* backgrounds */
  .cd-section:nth-child(1) {
    background-image: url("..\DairyOfLeason\background1");
  }
  
  .cd-section:nth-child(2) {
    background-color: black;
  }
  
